<div>
    {{#each this}}
    <div class="card rounded">
        <div>
            {{user_comment}}
        </div>
        <div class="justify-right">
            ~{{user.username}}, {{format_date date_created}}
        </div>
    </div>
    {{/each}}
</div>