<section>
    <h2>Your Blogs</h2>
    <button type="submit" class="btn btn-warning rounded-circle"><a class="btn" href="/dashboard/new">+ Add A Post</a></button>
    {{#if post.length}}
        </br>
        {{#each posts as |post|}}
            {{> dashPost post}}
        {{/each}}
    {{/if}}
</section>



<script src="/js/addPost.js"></script>