<div class="card new-post-form">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="post-form">
        <label for="title" class="title">Title</label>
        <input type="text" id="title" name="title" class="form-input" />
        <br>
        <label class="body" for="body">Body</label>
        <input id="body" name="body" class="form-input" />
        <br>
        <button type="submit" class="btn btn-success">POST</button>
    </form>
</div>