<div class="row">
    <div class="col-sm-10">
        <div class="card" style="background-color:#ffe5d0;">
        <div class="card-body">
            <div style="background-color: #fd9843;">
                <h3 class="card-title">{{title}}</h3>            
                <h5 class="card-subtitle mb-2">
                    Written by: {{user.username}} on {{format_date date_created}}
                </h5>
            </div>
            <div>
                <p class="card-text">{{content}}</p>
                {{#if logged_in}}
                <form class="card-body comment-form">
                    <label for="commentText" class="form-label">Comment:</label>
                    </br>
                    <input name="commentText" id="commentText" type="text" class="form-input" />
                    </br>
                    <button type="submit" class="btn btn-primary">POST</button>
                </form>
                {{/if}}
            </div>
            </br>
            <div>
                <h6>
                    COMMENTS
                </h6>
                {{> comments comments}}
            </div>           
        </div>
    </div>
</div>

<script src="/js/comment.js"></script>